<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Образец_инструкция</Template><TotalTime>0</TotalTime><Application>LibreOffice/7.2.4.1$Linux_X86_64 LibreOffice_project/27d75539669ac387bb498e35313b970b7fe9c4f9</Application><AppVersion>15.0000</AppVersion><Pages>11</Pages><Words>772</Words><Characters>4777</Characters><CharactersWithSpaces>5436</CharactersWithSpaces><Paragraphs>141</Paragraphs></Properties>